@font-face {
    font-family: 'Hot Restaurant';
    src: url('./assets/fonts/Hot_Restaurant.ttf');
}

@font-face {
    font-family: 'Elegant typewriter';
    src: url('./assets/fonts/ELEGANT_TYPEWRITER_Regular.ttf');
}

:root{
    --chocolate: #4E070C;
    --almond: #ffead8;
    --red: #D22701;
    --orange: #FF670E;
    --yellow: #ffa600;
    --green: #0ca714;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Elegant typewriter';
    font-size: 1.1rem;
    background-color: var(--chocolate);
    color: var(--almond);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

h1 {
    text-align: center;
    font-family: 'Hot Restaurant';
    font-size: 6rem;
    color: var(--almond);
    padding: 15px 0 5px 0;
    border-bottom: 5px solid var(--yellow);
}

p {
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-align: center;
    padding: 10px 20px;
}

.restaurant-info {
    color: var(--chocolate);
    background-color: var(--almond);
    max-width: 300px;
    box-shadow: 5px 10px 10px var(--red);
}

.page-details {
    display: flex;
    flex-direction: column;
}

.meal {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    max-width: 180px;
    margin: 2rem 1rem;
    padding: 10px 20px;
}

.fat {
    border: 3px solid var(--orange);
    background-color: rgba(255, 103, 14, 0.2);
}

.healthy {
    border: 3px solid var(--green);
    background-color: rgba(12, 167, 20, 0.2);
}

#logo {
    height: clamp(60px, 40px, 70px);
    width: auto;
}

#content {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}

.main-food {
    width: 180px;
    height: 180px;
    overflow: hidden;
    object-fit: cover;
    border: 1px solid var(--chocolate);
    border-radius: 50%;
    box-shadow: 0 0 25px var(--red);
}

.btn {
    font-family: 'Elegant typewriter';
    font-size: 1rem;
    font-weight: bold;
    margin: 0.2rem;
    width: 90px;
    height: 90px;
    border: 2px solid var(--chocolate);
    border-radius: 50%;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.btn:active {
    box-shadow: 0 0 15px var(--almond);
    transform: scale(0.9);
}

.contact {
    background-color: var(--green);
    color: var(--almond);
}

.menu {
    background-color: var(--orange);
    color: var(--almond);
}
.about {
    background-color: var(--red);
    color: var(--almond);
}

.info {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
}